<mat-card>
  <form [formGroup]="form" (submit)="onSelect()">
    <h5>Category Name</h5>
    <mat-form-field appearance="fill">
      <mat-label>Enter the Name</mat-label>
      <input matInput type="text" formControlName="name" />
    </mat-form-field>
    <br />

    <h5>Category Description</h5>
    <mat-form-field appearance="fill">
      <mat-label>give details</mat-label>
      <input matInput type="text" formControlName="desc" />
    </mat-form-field>
    <br />

    <h5>Select Brands</h5>
    <div style="width: 20%;">
      <mat-label>Brands</mat-label>
      <mat-select formControlName="brand" multiple>
        <mat-option *ngFor="let brand of brands" [value]="brand._id">{{
          brand.brandName
        }}</mat-option>
      </mat-select>
    </div>

    <section>
      <button mat-raised-button color="accent" type="submit">
        Add Category
      </button>
    </section>
  </form>
</mat-card>

<!-- <h5>Category Image</h5>
  <input type="file" (change)="onFileSelected($event)" />
  <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
    <img [src]="imagePreview" [alt]="form.value.name" />
  </div>
  <br /> -->
