<!-- <button mat-button routerLink="/" (click)="onClose()" style="float: right;">
  <mat-icon>clear</mat-icon>
</button> -->
<br />
<br />
<br />

<mat-card>
  <!-- <div  *ngFor="let product of products"> </div> -->
  <form [formGroup]="form" (submit)="onClick()">
    <h5>Product Image</h5>
    <div *ngIf="imagePreview">
      <img *ngFor="let image of imagePreview" [src]="image" height="100" />
    </div>

    <!-- <div *ngIf="imagePreview">
      <div *ngFor="let image of imagePreview">
        <div class="image-preview">
          <img [src]="image" [alt]="form.value.name" />
        </div>
      </div>
    </div> -->

    <input type="file" (change)="onFileSelected($event)" multiple />

    <br />
    <br />

    <section>
      <button mat-raised-button color="primary" type="submit">
        Add Image
      </button>

      <br /><br />
    </section>
  </form>
</mat-card>
