table {
  width: 100%;
}

.example-card {
  max-width: 300px;
}

.example-header-image {
  background-size: cover;
}
/* background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg"); */

.product-class {
  align-content: center;
}
.mat-card {
  text-align: center;
}
